<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="restapi.PostRequestWithJsonObject"/>
      <class name="restapi.PostRequestWithMap"/>
      <class name="restapi.GetRequestWithParam"/>
      <class name="restapi.PostCallWithJSONFile"/>
      <class name="restapi.DeleteRequest"/>
      <class name="restapi.GetRequest"/> -->
      <class name="restapiChaining.EndToEndTest"/>
      <!-- <class name="restapi.PostRequest"/>
      <class name="restapi.PutRequest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
